* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --titleFont: "Spectral";
  --textFont: "Raleway";


  --secondaryColor: #4d888e;
  --primaryColor: #3f3f3f;
  --neutralColor: #eaf1f1;

  --spacing: 16px;
  --borderRadius: 16px;
  --smallBoxShadow: 0px 4px 6px #0000001a;
  --mediumBoxShadow: 0px 4px 8px #0000004d;
  --border-solid: 1px solid #dddddd;
  --textColor: #222321;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/font/Spectral medium normal/Spectral-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/font/Raleway/Raleway-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}