@import url(../../App.css);

.end {
  background-color: var(--neutralColor);
  font-family: var(--textFont);
  font-size: x-small;
  text-align: center;
  padding: var(--spacing);
}
.titleFooter {
  text-decoration: none;
  cursor: pointer;
  color: var(--textColor);
}
.titleFooter:hover {
  color: var(--primaryColor);
  text-decoration: none;
}
