@import url("../../App.css");

.description {
  background-color: var(--neutralColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgDescription {
  height: 20%;
  width: 50%;
  margin-bottom: var(--spacing);
}
.titleDescription {
  font-family: var(--titleFont);
  color: var(--secondaryColo);
  padding: var(--spacing);
}
.pDescription {
  font-family: var(--textFont);
  color: var(--textFont);
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  font-size: x-small;
}

@media screen and (min-width: 768px) {
  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    place-items: center;
  }
  .pDescription {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .imgDescription {
    height: max-content;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
